

/*Header*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif;
}

.logo{   
    float: left;
    margin-left: 5%;
}

.mciLogo{
    width: 150px;
    height: auto;   
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    /*background-color: black;    */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;  
    box-shadow: 1px 1px 5px 1px #ffcb5d;;  
}

.header::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: black; 
    /*background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);*/
    z-index: -1;
}

.header::after {
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
    transition: .5s
    /*background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);   */
}

.header:hover::after {
    left: 100%;
}



.navbar a {
    font-size: 2rem;
    color: #ffcb5d;;
    /*color: #fff;*/
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

#check{
    display: none;
}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #ffcb5d;;
    /*color: #fff;*/
    cursor: pointer;
    display: none;
}

/*Break Points*/

@media (max-width: 992px){
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px){
    .icons {
        display: inline-flex;

    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon{
        display: none;

    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        /*background: black;*/
        background-color: rgba(0,0,0,.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        overflow: hidden;
        transition: .3s ease;
    }
    
    #check:checked~.navbar {        
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
        
    }
    
    #check:checked~.navbar a {        
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
        opacity: 1;
    }
}

body{
    display: flex;
    flex-direction: column;
}
/*Hero Section*/
.hero-section{
    display: flex;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-wrap: wrap-reverse;
}

.hero-writing{
    display: flex;
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;    
    font-family: 'DM Serif Display', serif;
}

.large-font{
    display: flex;
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    color: #ffcb5d;;
}

.small-font{
    display: flex;
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
    margin-bottom: 25px;
    color: #ffcb5d;;
}

.quote-section{
    display: flex;
    justify-content:center;
    
}

.quote-button{
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ffcb5d;;
}

.hero-photo{
    margin-top: 200px;
    margin-bottom: 100px;
    height: 400px;
    width: 400px;
    background-image: url('pics/hero-roof.jpg');
    background-position: center;
    background-size: cover;
    border: 3px solid #ffcb5d;

}


/*Bar*/
.bar{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 200px;
    background-color: #ffcb5d;
    box-shadow: 2px 2px 2px 0px gray; 
    justify-content: space-around;  
    align-items: center;
}

.bar-image{
    height: 150px;
    width: 225px;
    border: 4px black solid;
    cursor: pointer;
}

/*values section*/
.values-section{
    display: flex;
    flex-direction: column;
    margin-top: 125px;
}

.value-row{
    display: flex;
    flex-direction: row;
}

.section{       
    display: flex;
    width: 40%;
    flex-direction: column;
    margin-left: 125px;
}

.container-cirle-paragraph{
    display: flex;
    flex-direction: row;
}

.heading{
    font-size: 30px;
    margin-bottom: 10px;
    color: black;
    font-family: 'DM Serif Display', serif;;
}

.paragraph > p{
    margin-bottom: 50px;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.orange{
    background-color: #ffcb5d;;
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    border: 2px black solid;
}

.easy-circle{
    background-image: url("pics/001-click.png")
}

.affordable-circle{
    background-image: url("pics/006-affordable.png")
}

.fast-circle{
    background-image: url("pics/007-fast-delivery.png")
}

.reliable-circle{
    background-image: url("pics/001-dependable.png")
}
/*Values End*/

/*Reviews Section*/

.reviews-section{
    margin-top: 200px;
    height: 100vh;
    background-color: #ffcb5d;;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;  
    
}

/*Review Box*/
.review-border-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 500px;
    background-color: black;
    border-radius: 20px;
    border: 4px solid #ffcb5d;
    
}

/*Carousel*/

.slick{
    display: flex;
    align-content: center;
    align-items: center;
    width: 80vw;
    margin-left: 5vw;
    
    
}

.review-pic{
    border-radius:20px;
    border: 2px black solid;
}

.prevArrow{
    position: absolute;
    right: 52%;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: #ffcb5d;
    border: black 2px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
}

.nextArrow{
    position: absolute;
    left: 48%;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: #ffcb5d;
    border: black 2px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
}

/*Review Box Creation*/
/*.review-box{
    width: 350px;
    height: 375px;
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    /*border-radius: 20px;*/
    /*background-color: white;
    margin: 200px;;
}


.icons-name-stars{
    display: flex;
    flex-direction: row;
}

.icon1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url("pics/review-person1.png");
    background-position: center;
    background-size: cover;
    margin: 10px;
}

.icon2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url("pics/review-person2.png");
    background-position: center;
    background-size: cover;
    margin: 10px;
}

.icon3{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url("pics/review-person3.png");
    background-position: center;
    background-size: cover;
    margin: 10px;
}

.icon4{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url("pics/review-person4.png");
    background-position: center;
    background-size: cover;
    margin: 10px;
}

.icon5{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url("pics/review-person5.png");
    background-position: center;
    background-size: cover;
    margin: 10px;
}

.icon6{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url("pics/review-person6.png");
    background-position: center;
    background-size: cover;
    margin: 10px;
}

.name-stars{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 25px
    
}

.name{
    font-size: 25px;
    font-family: 'DM Serif Display', serif;
}

.stars{
    margin-top: 10px;
    color: orange;
}

.review-heading{
    margin: 10px;
    font-weight: 800;
    font-size: 20px;
    font-family: 'DM Serif Display', serif;
}

.review-paragraph{
    margin: 10px;
    font-family: 'DM Sans', sans-serif;
    
}

.review-paragraph> p{
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
}*/
/*Reviews End*/

/*What We Do Start*/

.what-we-do-section{
    display: flex;
    flex-direction: column;
     min-height: 100vh;
    max-width: 100vw; 
   
}

.services-background{
    min-height: 100vh;
    max-width: 100vw;    
    position: absolute;
    opacity: .6;
    z-index: -1;
    
}

.center-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wwd-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
}

.serv-intro{
    width: 80vw;
    margin: 50px 0 50px 0;
}

.into-serv{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    font-family: 'Lora', serif;
}

.wwd-section{
    display: flex;
    flex-direction: column;   
    align-items: center;
}

.the-services{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.wwd-head{
    display: flex;
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.sing-item{
    display: flex;
    flex-direction: row;    
    align-items: center;
    margin-bottom: 20px;
}

.check{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid black;
    z-index: 1;
    
}

.serv-board{
    display: flex;
    width: 285px;
    height: 50px;
    background-color: #ffcb5d;
    border: black 3px solid;
    border-radius: 20px; 
    align-items: center;
    margin-left: -25px;
}

.serv-check{
    margin-left: 30px;
    font-size: 20px;
    font-weight: 400;
}

/*what we do end*/

/*Blog Started*/
.blog-section{
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.blog-liner{
    display: flex;
    flex-direction: column;    
    align-items: center;
    max-width: 90vw;
}

.blog-image{
    display: flex;
    width: 90vw;
    height: 40vh;
    background-color: gray;
    margin-top: 200px;
    border-radius: 20px;
}

.blog-row{
    display: flex;
    flex-direction: row;  
    margin: 50px 0 50px 0;  
    max-width: 90vw;
}

.blog-item{
    display: flex;
    flex-direction: column;
    margin: 0 15px 0 15px;
    
}

.blog-pic-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.blog-pic{
    width: 26vw;
    height: 300px;
    background-color: gray;
    border-radius: 20px;
}

.blog-title{
    display: flex;
    width: 26vw;
    font-size: 24px;
    margin: 5px 0 0 7px;
    align-items: left;
}

.blog-title>p{
    align-items: left;
}

.blog-intro{
    width: 26vw;
    height: 175px;
    display: flex;
    align-items: left;
    margin: 5px 0 0 7px;
    
}

.blog-intro>p{
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    color: black;

}

.center-readMore{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.read-more{
    width: 26vw;
    height: 50px;
    margin-top: 10px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: #ffcb5d;
    cursor: pointer;
}

/*Blog End*/

/*Blog Articles Start*/

.blog-article-page{
    display: flex;
    flex-direction:column;
}

.article-start{
    margin-top: 200px;
}

.blog-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    
}

.blog-article{
    margin-left: 5vw;
    width: 60vw;
    box-shadow: 8px 0px 8px 0px gray;
}

.p-article{
    margin:10px 5px 10px 5px;
}

.h2-article{
    margin: 20px 0 20px 0;
}


/*ContactMe Box*/
.contactMe-border-box{
    border: 2px #ffcb5d solid;
    background-color: black;
    border-radius: 20px;
}

.contactMe-form{
    margin-top: 20px;
}

.form{
    width: 350px;
    height: 40px;
    margin-bottom: px;
    margin: 0 20px 5px 20px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 20px;
    font-family: 'DM Serif Display', serif;
    color: black;
    background-color: #ffcb5d;;
}

.form:nth-child(1){
    margin-top: 150px;
}

.form-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.form-butt{
    width: 175px;
    height: 30px;
    border: 1px black solid;
    border-radius: 3px;
    background-color: #ffcb5d;
    cursor: pointer;
    font-family: 'DM Serif Display', serif;
}

#textarea{
    height: 100px;
    background-color: #ffcb5d;
    color: black;
    font-family: 'DM Serif Display', serif;
}
/*Contact ME box end*/

/*Contact me Text*/

.contactMe-text{
    display: flex;
    width: 440px;    
    font-family: 'DM Serif Display', serif;
}

/*Footer*/
.footer-section{
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    width: 100vw;
    background-color: black;     
    font-family: 'DM Serif Display', serif;
    color: #ffcb5d; 
    align-items: center;       
}

.footer-parts{
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: 100px 0 100px 0;
    justify-content: space-between;
    
}

.footer-item{
    display: flex;
    flex-direction: column;
}

.footer-heading{
    font-size: 35px;
}

.footer-links-list{
    font-size: 30px;
    color: #ffcb5d;
}

.social{
    display: flex;
    flex-direction: column;
}

.social-icons{
    display: flex;
    flex-direction: row;
}

.social-circle{
    display: flex;
    height: 75px;
    width: 75px;
    background-color: white;
    border: #ffcb5d 5px solid;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.social-pic{
    height: 50px;
    width: 50px;
}


/*Services Page*/

.services{
    margin-top: 145px;
    background-color: #ffcb5d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
       
}

.service-display{
    width: 100vw;
    height: 425px;
    background-image: url('pics/service-pics/roofing-wide.jpg');
    background-position: center;
    background-size: cover;
    filter: blur(3px)
}

.service-border{
    width: 80vw;
    margin-top: 125px;
    display: flex;
    background-color:#ffcb5d;
    box-shadow: 2px 2px 2px 0px #ffcb5d; 
    justify-content: center;
    border-radius: 20px;
        
    
}

.service-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
    
}

.service-pair{
    display: flex;
    flex-direction: column;
    width: 50vw;
    
}

.service-pic{
    height: 400px;
    width: 400px;
    
}

.repair-pic{
    height: 350px;
    width: 350px;
    border: 3px black solid;
    border-radius: 20px;
}

.service-heading{
    font-size: 35px;
    margin-bottom: 25px;
}

.service-description{
    font-size: 20px;
}

.left-box{
 margin-right: 40px;
}

.right-box{
    margin-left: 40px;
   }